<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<form>
    <div>
        <a th:href="@{/add-student}" class="btn btn-secondary " >Add New Student</a>
    </div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Class Name</th>
            <th colspan="2">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${studentList}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.age}"></td>
            <td th:text="${item.classRoom.name}"></td>
            <td><a th:href="@{/edit-student/{id}(id=${item.id})}">Edit</a></td>
            <td><a th:href="@{/delete-student/{id}(id=${item.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>